version: '2'
services:
  redis:
    image: redis:3.2.0-alpine
    volumes:
      - musicbotredis:/data
    command: "redis-server --appendonly yes"
  musicbot:
      build: .
      restart: always
      environment:
        REDIS_HOST: redis
        REDIS_PORT: 6379
      volumes:
        - musicbotconfig:/app/config
        - musicbotaudiocache:/app/audio_cache
      depends_on:
        - redis
volumes:
  musicbotconfig:
    driver: local
  musicbotaudiocache:
    driver: local
  musicbotredis:
    driver: local
