version: '2'
services:
  redis:
    image: redis:3.2.0-alpine
  musicbot:
      build: .
      restart: always
      environment:
        REDIS_HOST: redis
        REDIS_PORT: 6379
      volumes:
        - musicbotconfig:/app/config
      depends_on:
        - redis
volumes:
  musicbotconfig:
    driver: local
